:root {
	--cobalt-blue: #0047AB;
	--rosewood: #611714ff;
	--phthalo-green: #162B02ff;
	--purple: #7500AFff;
	--ash-gray: #AFBDBEff;
	--venetian-red: #CF0D13ff;
	--eerie-black: #171717ff;
	--sinopia: #C85127ff;
	--royal-blue-dark: #082760ff;
	--medium-blue: #0423C9ff;
}
/*
	- #0047AB; < Main
	- Generic Gradient: #0047A4, #9D48A5, #E8558D, #FF816D,
	#FFBC5A, #F9F871;
	- Matching Gradient: #0047A4, #5850AC, #845BB2, #A768B6
	#C677BA, #C677BA;
	- Classy: #0047A4, #A9AABC, #757687, #990730, #D64C5E;
	- Cube:  #0047A4, #75B0AC, #FFF7D6;
	- Matching:  #0047A4, #454655, #A9AABC, #624900, #997900;
	- Grey Friends:  #0047A4, #454655, #A9AABC;
	- Threedom:  #0047A4, #991400, #006036;
*/

/* GENERAL */

body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

/* CONTENT */

header {
	padding: 20px 0px;
	text-align: center;
}


h1 {
	font-size: 42px;
	font-family: 'Bebas Neue', sans-serif;
}


section {
	max-width: 1280px;
	margin: 0 auto;
}

.content {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	margin: 25px 0px;
	gap: 25px;
}

img {
	width: 50%;
}

main {
	margin: 0 auto;
}

main > div {
	flex-direction: column-reverse;
} 

main > div > img {
	width: 80%;
	border: 10px solid black;
}

main > div > .text {
	width: 80%;
	text-align: justify;
	font-size: 30px;
	font-weight: 600;
}


main > div > .text > p:first-letter {
	margin-left: 2em;
	font-size: 36px;
}

section:nth-last-of-type(2) > div {
	flex-direction: column-reverse;
}

section:nth-last-of-type(2) > div > img {
	width: 70%;
	margin: 0 auto;
}

.text {
	display: flex;
	flex-direction: column;
}

.content p {
	margin: 10px 0px;
}

/* QUOTE */

section:nth-of-type(odd) {
	width: 100%;
	text-align: center;
}

.quote {
	margin: 50px;
}

/* FOOTER */
footer {
	text-align: center;
	margin: 20px 0px;
}