/*

COLORS 
	--cobalt-blue: #0047AB;
	--rosewood: #611714ff;
	--phthalo-green: #162B02ff;
	--purple: #7500AFff;
	--ash-gray: #AFBDBEff;
	--venetian-red: #CF0D13ff;
	--eerie-black: #171717ff;
	--sinopia: #C85127ff;
	--royal-blue-dark: #082760ff;
	--medium-blue: #0423C9ff;

COBALT
	- #0047AB; < Main
	- Generic Gradient: #0047A4, #9D48A5, #E8558D, #FF816D,
	#FFBC5A, #F9F871;
	- Matching Gradient: #0047A4, #5850AC, #845BB2, #A768B6
	#C677BA, #C677BA;
	- Classy: #0047A4, #A9AABC, #757687, #990730, #D64C5E;
	- Cube:  #0047A4, #75B0AC, #FFF7D6;
	- Matching:  #0047A4, #454655, #A9AABC, #624900, #997900;
	- Grey Friends:  #0047A4, #454655, #A9AABC;
	- Threedom:  #0047A4, #991400, #006036;

*/